.mx-box{
    width: 412px;
    height: 480px;
    margin: 0 auto;
    /*background: no-repeat url();*/
    background-size: 220px 254px;
}

.mr-shadow{
    margin-left: 100px;
    color: #dc1844;
    font: 900 64px/64px sans-serif;
    text-shadow: -1px 0 0 #0a0a0a;
}

.mr-shadow font{
    font-size: 30px;
}


.mr-shadow1{
    color: #6c0305;
    margin-top: 264px;
    font: 100 54px/64px '黑体';
    text-shadow: 0 -1px 0 #ca3636;
}

.mr-shadow1 font{
    font-size: 35px;
}
